<%= form_for [@copy_test, @copy_sample, @response] do |response_form| %>
  <div id="test">
    <div id="intro">
      <h1>
        Welcome to a GDS copy test!
      </h1>
      <p>
        Hello. You are here as you have been asked to participate in a test of some copy.
      </p>
      <p>
        When you click "Let's Begin" you will be shown some text that we want to get some feedback on. Read it at your own pace, and when you are done, click 'Finished' and we will ask you some questions about it. Don't worry, there are no wrong answers!
      </p>
      <p class="next-button">
        <a type="button" class="start-test btn btn-lg btn-primary" href="#copy">Let's Begin</a>
      </p>
    </div>
    <div id="copy">
      <h1>Please read the copy below and click "Finished" when done</h1>
      <%= @copy_sample.copy_markup.html_safe %>
      <p class="next-button">
        <a type="button" class="finish-test btn btn-lg btn-primary" href="#questions">Finished</a>
      </p>
    </div>
    <div id="questions">
      <h1>Please answer these questions to your best of your ability</h1>
      <% @copy_test.questions.each do |question| %>
        <%= question.question %>
        <%= response_form.fields_for :response_answers, @response.response_answers.build do |response_answer_form| %>
          <% question.question_answers.each do |question_answer| %>
            <%= response_answer_form.label :question_answer_id, question_answer.answer, :value => question_answer.id %>
            <%= response_answer_form.radio_button :question_answer_id, question_answer.id %>
          <% end %>
        <% end %>
      <% end %>
      <p class="next-button">
        <a type="button" class="finish-questions btn btn-lg btn-primary" href="#trust_survey">Next</a>
      </p>
    </div>
    <div id="trust_survey">
      <h1>Please fill in our trust questions</h1>
      <p>How much did you trust this?</p>
      <% [1,2,3,4,5].each do |i| %>
        <%= response_form.radio_button :trust_rating, i %>
        <%= response_form.label :trust_rating, i, :value => i %>
      <% end %>
      <p>
        <%= response_form.submit "Save answers", :class => 'btn btn-lg btn-primary' %>
      </p>
    </div>
  </div>
  <%= response_form.hidden_field :time_taken, :value => 0 %>
  <%= response_form.hidden_field :browser_agent_string, :value => 0 %>
<% end %>
