<% breadcrumb @copy_test %>

<h1><%= @copy_test.name %></h1>
<p><%= link_to "Edit name", edit_admin_copy_test_path(@copy_test) %></p>
<p><%= link_to "View results", results_admin_copy_test_path(@copy_test) %></p>

<h2>Copy Texts</h2>

<table class="table">
<% @copy_test.copy_samples.each do |copy_sample| %>
  <tr>
    <td><%= copy_sample.name %></td>
    <td><%= copy_sample.published ? "Published" : "Unpublished" %></td>
    <td><%= copy_sample.copy_markup %></td>
    <td><%= link_to "edit", edit_admin_copy_test_copy_sample_path(@copy_test, copy_sample) %></td>
  </tr>
<% end %>
</table>

<h2>Add new Copy Text</h2>
<%= bootstrap_form_for [:admin, @copy_test, @copy_test.copy_samples.build] do |copy_test_form| %>
  <%= copy_test_form.text_field :name %>
  <%= copy_test_form.text_area :copy %>
  <%= copy_test_form.check_box :published %>
  <%= copy_test_form.submit "Create Copy Sample" %>
<% end %>

<h1>Questions</h1>

<table class="table">
  <% @copy_test.questions.each do |question| %>
    <tr>
      <td><%= question.question %></td>
      <td>
        <ul>
          <% question.question_answers.each do |question_answer| %>
            <li><%= question_answer.answer %></li>
          <% end %>
        </ul>
      </td>
      <td><%= link_to "edit", edit_admin_copy_test_question_path(@copy_test, question) %></td>
    </tr>
  <% end %>
</table>

<%= bootstrap_form_for [:admin, @copy_test, @copy_test.questions.build] do |copy_test_form| %>
  <%= copy_test_form.text_field :question %>
  <%= copy_test_form.submit "Create Question" %>
<% end %>